@font-face { font-family: Raleway; src: url('Raleway.TTF'); } 
@font-face {
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
<link href="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
     

.menu > .container-fluid > .navbar-header > .navbar {
	   background-color: #F79A88;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    border-color: #F79A88;

	
}
/*barra do login*/
.navbar-default {
    background-color: #F79A88;
    border-color: #F79A88;
}

.link{
	font-size: 25px;
	line-height: 60px;
  	text-align: center;
<<<<<<< HEAD
  	color: #F79A88;
=======
  	color: #fff;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
    margin-right: 15px;
    margin-left: 15px;
}
}
.linha_tabela{
    color: #ccc;
}
.table{
    color:#fff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-family: Raleway;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    
  }
  .sair{
    font-size: 20px;
    margin-top: -60px;
    float: right;
    width: 40px;
    font-weight: 500;
    position: relative;
    


  }
  .Voltar{
    font-size: 20px;
    margin-top: 10px;
    float: right;
    width: 200px;
    font-weight: 500;
    
    margin-right:309px;
    position: absolute;
    top: 1px;
    left: 9px;
    font-family: Raleway;
<<<<<<< HEAD

=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
  }

a:hover,
a:focus {
<<<<<<< HEAD
  color: #F79A88;
=======
  color: #FFFFFF;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
  text-decoration: underline;
}
.form_encomeda {
  
  max-width: 100%;
  margin-bottom: 5px;
  font-family: Raleway;
  color: #FFFFFF;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
 

}
label {
     font-weight: normal;
     color: #333

}
html {
<<<<<<< HEAD
  height: 100%;
=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
  font-size: 18px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*tr:nth-child(even) {background-color: #F79A88}*/

.menu_geral{
    padding: 60px;
    margin-bottom: auto;
    padding-right: 15px;
    padding-left: 15px;
	
}
.content{
	background-color: #595758;
<<<<<<< HEAD
  width: 1365px;
=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
}

.item_menu{
   
	height: 10%;
	font-size: 100px;
	line-height: 100px;
  	text-align: center;
    font-family: Raleway;
}


.glyphicon-plus:before {
    content: "";
    font-size: 30px;
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.nav-stacked > li + li {
  margin-top: 10px;
  margin-left: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*form {
    border: 3px solid #f1f1f1;
}*/

input[type=text], input[type=password] {
    color: black;
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #f79a88;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 18px;
<<<<<<< HEAD
    
    display: block;

}
input[type="time"].form-control {
    line-height: 34px;
    display: initial;
}

=======
}
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
input[type=tel] {
    width: 100%;
    padding: 8px 10px;
    margin: 1px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #f79a88;
    border-radius: 6px;
    padding: 18px;
}
<<<<<<< HEAD
.a{
  color:#F79A88;
  text-decoration: none;
}
=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
/*input[type=produto] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/
button {
    background-color: #fff;
    color: white;
    padding: 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 60%;
     border-radius: 10px;
    

}
.btn {
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 10px;

}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
 
  font-family: : Raleway;
}
.btn-primary {
  color: #fff;
  background-color: #F79A88;
  border-color: #F79A88;
<<<<<<< HEAD
  width: 27%;
  margin-left: 73%;
=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-block {
  display: block;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #F15E5E;
  border-color: #A84242;
}
.btn-primary:hover {
  color: #fff;
  background-color: #F15E5E;
  border-color: #A84242;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #F15E5E;
  border-color: #A84242;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
   background-color: #F15E5E;
  border-color: #A84242;
}
button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 30px 0 15px 0;
}

.imgavatar {
<<<<<<< HEAD
    width:39%;
=======
    width:70%;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
    display: block;
    margin-left: auto;
    margin-right: auto;
    
<<<<<<< HEAD
}/*AQUI 
=======
}
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0

/*.container {
    padding: 1px;
}*/


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.form_login{
	color: white;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
<<<<<<< HEAD
    width: 30%;
    background-color: #FFFFFF;
    padding: 1%;
    margin-top: 5%;

=======
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
}
.containerform {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bodycontainerform{
    font-family: "Raleway";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1.42857143;x
}
.bodycontenter {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 1.42857143;
  color: #FFFFFF;
 
}
.containerbody {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.btn-default {
    color: #333;
    background-color: #fff;
    padding: 5px 5px;
    font-size: 20px;
    line-height: 2;
    border-radius: 6px;
    font-family: : Raleway;
     border-radius: 10px;

}
.body_cad_usu{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.btn2{
    background-color: #27af49;
    color: #FFFFFF;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    font-family: Raleway;
    padding: 10px;
    border: 1px solid #27af49;
    border-radius: 10px;
    width: 150px;
}
.btn3{
    background-color: #27af49;
    color: #FFFFFF;
    font-size: 20px;
    float: right;
    font-family: Raleway;
    padding: 10px;
    border: 1px solid #27af49;
    border-radius: 10px;
    width: 150px;

}
.btn4{
    background-color: #27af49;
    color: #FFFFFF;
    font-size: 20px;
    float: right;
    font-family: Raleway;
    padding: 10px;
    border: 1px solid #27af49;
    border-radius: 10px;
    width: 150px;
}
.btn5{
    background-color: #27af49;
    color: #FFFFFF;
    font-size: 20px;
    float: right;
    font-family: Raleway;
    padding: 10px;
    border: 1px solid #27af49;
    border-radius: 10px;
    width: 150px;
}
.btn6{
    background-color: #27af49;
    color: #FFFFFF;
    font-size: 20px;
    float: right;
    width: 150px;
    font-family: Raleway;
    padding: 10px;
    border: 1px solid #27af49;
    border-radius: 10px;
}
.btn7{
  background-color: #9F1E00;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Raleway;
  padding: 10px;
  border: 1px solid #9F1E00;
  border-radius: 10px;
  width: 150px;
  margin-top: 10px;
}
.bodynomeproduto {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 1.42857143;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bodycadencomenda {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 1.42857143;
  color: #fff;
  padding-right: 15px;
<<<<<<< HEAD
  padding-left: 1%;
=======
  padding-left: 10px;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
  
}
.form-control1{
    padding: 8px 10px;
    padding-left: 10px;
<<<<<<< HEAD
    width: 100%;
    height: 40px;
    border-radius: 6px;
    size: 4px;

=======
    width: 390px;
    height: 40px;
    border-radius: 6px;
    size: 4px;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
    
}

.cad_se{
<<<<<<< HEAD
    font-size: 100%;
    margin-top: 10px;
    float: right;
    width: 44s%;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    padding: 6px 12px;
    line-height: 1.42857143;
    color:#595757;
=======
    font-size: 20px;
    margin-top: 10px;
    float: right;
    width: 125px;
    font-weight: 500;
    line-height: 1.1;
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
  }
  .h4{
    color: #FFFFFF;
    padding-right: 10px;
    padding-left: 11px;

  }
<<<<<<< HEAD
  body {
  text-align:left;
  background: #000;
  font-family: Raleway;
  margin:0;
  padding:0;
  height:100%;

  }


.all{

  height:100%;

  width:100%;

  margin:auto;

}
h1{
  margin-top: 20px;
  margin-bottom: 10px;
  color: #595757;
  font-size: 100%;
   

} 
h3{
  margin-top: 19px;
  margin-bottom: 10px;
  margin-left: 11%;
  color:#595757;
  font-size: 100%;

}
.teste{
  width: 70%;
  height: 70%;
  background-color: #FFFFFF
}
=======
 
>>>>>>> a190205a7b25c866b952724c982371ca2ee81ea0
